%primary-button{
    background-color: $button-bg-color;
    color: $button-font-color;
    &:hover{
        background-color: $button-hover-bg-color;
	    cursor: pointer;
    }
    &:active{
        background-color: $button-active-bg-color;
    }
}

#contact-button{
    @extend %primary-button;
    font-size: 120%;
	width: 100px;
	padding: 10px;
	border-radius: 5px;
}

#menu-button{
    @extend %primary-button;
    display: none;
    position: fixed;
    z-index: 200;
    right: 0;
	height: 50px;
	padding: 0 10px;
    border-radius: 3px;
    font-size: 30px;
    font-weight: bold;
    @media screen and (max-width: 500px){
        display: block;
    }
}

%gallery-button{
    color: $button-font-color;
    font-size: 120%;
    background: $gallery-button-bg-color;
    padding: 1% 3%;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.gallery-left{
    @extend %gallery-button;
    left: 0;
}

.gallery-right{
    @extend %gallery-button;
    right: 0;
}