#about{
    background-color: $dark-bg-color;
    #profile{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 70vw;
        #avatar{
            width: 20vw;
            min-width: 150px;
            max-width: 200px;
            border-radius: 50%;
        }
        #desc{
            width: 40vw;
            min-width: 150px;
            max-width: 500px;
            font-size: 110%;
            margin: 2vh 1vw;
            font-style: italic;
            @media screen and (max-width: 535px){
                width: 65vw;
            }
        }
    }
    #skills{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
        width: 70vw;
        padding: 0 3vw;
        .skill{
            width: 12vw;
            max-width: 200px;
            min-width: 100px;
            height: 12vw;
            max-height: 200px;
            min-height: 100px;
            margin: 1.25%;
            background: $light-bg-color;
            display: flex;
            align-items: center;
            justify-content: center;
            &:nth-child(even) {
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
            }
            &:nth-child(odd) {
                border-top-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }
            &:hover{
                transform: scale(1.1);
                img{
                    filter: none;
                }
            }
            img{
                position: relative;
                filter: opacity(60%);
                width: 90%;
            }
        }
    }
}

