#about{
    background-color: $dark-bg-color;
    #avatar{
        height: 30vh;
        min-height: 100px;
        border-radius: 50%;
    }
    #skills{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 0 auto;
        width: 70vw;
        padding: 0 3vw;
        .skill{
            width: 12vw;
            max-width: 200px;
            min-width: 100px;
            height: 12vw;
            max-height: 200px;
            min-height: 100px;
            margin: 2vh 1vw;
            background: $light-bg-color;
            &:nth-child(even) {
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
            }
            &:nth-child(odd) {
                border-top-right-radius: 50%;
                border-bottom-left-radius: 50%;
            }
            img{
                width: 10vw;
                max-width: 190px;
                min-width: 90px;
                height: 10vw;
                max-height: 190px;
                min-height:  90px;
                margin: 0 auto;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

