footer{
    background-color: $dark-bg-color;
    position: relative;
    .social{
        margin: 50px 0;
        display: block;
        a{
            display: inline-block;
            &:hover, &:active{
                -webkit-transform: scale(1.1);
                -moz-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }
            .icon{
                height: 57px;
                margin: 0 5px;
            }
        }
    }
    #up-link{
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 200;
        width: 60px;
        a{
            font-size: 300%;
            font-weight: bold;
            font-family: Verdana;
        }
    }
    #copyrights{
        position: absolute;
        bottom: 0;
        width: 94vw;
        padding: 3vh 1vw;
        text-align: center;
        color: $light-font-color;
    }
}






