header{
	//background: $header-bg-color;
	//background-repeat: none;
	//background-attachment: fixed;
	//background-size: cover;
	color: $header-font-color;
	svg{
		position: fixed;
		z-index: -100;
		left: 0;
		top: -50px;
		height: 100vh;
		width: 100vw;
		min-width: 1020px;
		path{
			opacity: 0;
			-webkit-transition: opacity 0.3s;
            -moz-transition: opacity 0.3s;
            -o-transition: opacity 0.3s;
            transition: opacity 0.3s;
		}
	}
}