//Font color
$primary-font-color: rgb(92, 128, 92);
$button-font-color: rgb(255, 255, 255);
$header-font-color:rgb(246, 250, 245);
$a-color: rgb(204, 204, 204);
$a-hover-color: rgb(136, 136, 136);
$nav-active-font-color: rgb(136, 136, 136);
$light-font-color: rgb(165, 177, 159);

//Background color
$dark-bg-color: rgb(207, 221, 195);
$light-bg-color: rgb(246, 250, 245);
$nav-bg-color: rgb(255, 255, 255);
$header-bg-color: rgb(255, 255, 255);
$skill-bg-color: rgb(156, 200, 98);
$gallery-button-bg-color: rgba(39, 39, 39, 0.541);
$tag-bg-color: rgb(224, 224, 224);
$button-bg-color: rgb(83, 124, 77);
$button-hover-bg-color: rgb(108, 145, 67);
$button-active-bg-color: rgb(73, 146, 103);

//Border color
$border-color: rgb(224, 205, 205);
$nav-active-border-color: rgb(76, 156, 116);

//Shadow color
$shadow-color: rgba(162, 163, 163, 0.219);
$focus-shadow-color: rgb(138, 158, 141);